@import "tailwindcss";

@theme {
  --color-primary: #3b55a3;
  --color-primary-light: #90a2d7;
  --color-accent: #FDAF08;
  --color-accent-light: rgba(253, 175, 8, 0.3);

  --font-sans: "Poppins", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .rounded-leaf {
    border-radius: 10px 0px 10px 0px !important;
  }
  .rounded-leaf-2 {
    border-radius: 0px 20px 0px 20px !important;
  }
}
