@import "tailwindcss";

@theme {
  --color-primary: #3b55a3;
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@layer utilities {
  .rounded-leaf {
    border-radius: 10px 0px 10px 0px !important;
  }
  .rounded-leaf-2 {
    border-radius: 0px 20px 0px 20px !important;
  }
}
